﻿@model KvantStrategi.Models.DatatableObjects;

<!DOCTYPE html>

@{
    ViewData["Title"] = "Calculate";
    System.Data.DataTable SaniData = null;
    System.Data.DataTable RankVCdata = null;
    System.Data.DataTable RankEBITdata = null;
    string errorMsg = "";

    if (Model != null)
    {
        SaniData = Model.SanitizedDataTable;
        RankVCdata = Model.RankedDataTable;
        RankEBITdata = Model.RankedEBITDataTable;
    }

    if (ViewData["ErrorMsg"] != null)
    {
        errorMsg = ViewData["ErrorMsg"].ToString();
    }
}

<style>
    .slidecontainer {
        width: 100%; /* Width of the outside container */
    }

    /* The slider itself */
    .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 25px; /* Specified height */
        background: #d3d3d3; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
    }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1; /* Fully shown on mouse-over */
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KvantStrategi</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div style="width:100%;height:100px;background-color:black;">

    </div>
    <div style="width:85%; margin-left: 7.5%;margin-top:20px;">
        @using (Html.BeginForm("Calculate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="Calculate" class="save" id="btnid" />
        }
        <label>@errorMsg</label>
    </div>
    <div style="width:85%; margin-left: 7.5%;">
        <div style="margin-top:20px;">
            <h4>Regler:</h4>
            <ul>
                <li>Alla negativ momentum rensas bort</li>
                <li>Alla VC värden som är tomt eller negativt får högsta ranking</li>
            </ul>
        </div>
        <div id="Raw view">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseRaw" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Raw Data
                </a>
            </p>
            <div class="collapse" id="collapseRaw">
                <div class="form-group">
                    <div style="margin-top:10px;">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-control" style="border:1px;border-color:black;border-style: solid;margin-bottom:20px;">
                                    <div style="margin-bottom:10px;">
                                        <label for="EV">Visa inte bolag med börsvärde under:</label>
                                        <input type="number" class="form-control" id="EV" aria-describedby="EVHelp" placeholder="Börsvärde...">
                                        <small id="EVHelp" class="form-text text-muted">Filterar på börsvärde i miljoner kronor.</small>
                                    </div>

                                    <div class="input-group mb-3" style="margin-bottom:10px;">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" id="chkboxMA">
                                                <label class="form-check-label" for="chkboxMA">Visa inte bolag med negativt MA50/200</label>
                                            </div>
                                            <div class="input-group-text">
                                                <input type="checkbox" id="chkboxFF">
                                                <label class="form-check-label" for="chkboxFF">Visa inte Finans & Fastighet</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-danger" type="button" id="filterRawData">Filtrera</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-control" style="border:1px;border-color:black;border-style: solid;margin-bottom:20px;">
                                    <div class="col">
                                        <div style="margin-bottom:10px;">
                                            <label for="count">Ange antalet i reslutatet:</label>
                                            <input type="number" value="10" min="0" max="30" class="form-control" id="countVC" aria-describedby="EVHelp" placeholder="Antal...">
                                            <small id="EVHelp" class="form-text text-muted">Antalet bolag som ska visas i resultatet, 0 - 30.</small>
                                        </div>
                                        <div class="slidecontainer">
                                            <label for="myRange">Fördelning mellan VC och Momentum:</label>
                                            <input type="range" min="0" max="100" value="50" class="slider" id="myRangeVC">
                                            <p>Fördelning: <span id="ratioLabelVC"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-control" style="border:1px;border-color:black;border-style: solid;margin-bottom:20px;">
                                    <div class="col">
                                        <div style="margin-bottom:10px;">
                                            <label for="count">Ange antalet i reslutatet:</label>
                                            <input type="number" value="10" min="0" max="30" class="form-control" id="countEBIT" aria-describedby="EVHelp" placeholder="Antal...">
                                            <small id="EVHelp" class="form-text text-muted">Antalet bolag som ska visas i resultatet, 0 - 30.</small>
                                        </div>
                                        <div class="slidecontainer">
                                            <label for="myRange">Välj ut topp % av högsta EV/EBIT:</label>
                                            <input type="range" min="0" max="100" value="50" class="slider" id="myRangeEBIT">
                                            <p>Fördelning: <span id="ratioLabelEBIT"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <button class="btn btn-success" type="button" id="Send">Beräkna</button>
                            </div>
                        </div>

                        <table id="RawDataTable" class="table table-hover table-sm">
                            @if (SaniData != null)
                            {
                                <thead>
                                    <tr>
                                        @foreach (System.Data.DataColumn dc in SaniData.Columns)
                                        {
                                            <th class="th-sm">@dc.Caption</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow dtRow in SaniData.Rows)
                                    {
                                        <tr>
                                            @foreach (System.Data.DataColumn dc in SaniData.Columns)
                                            {
                                                <td>@dtRow[dc].ToString()</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="Result view">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseRank" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Resultat
                </a>
            </p>
            <div class="collapse" id="collapseRank">
                <div class="form-group">
                    <table id="RankDataTable" class="table table-hover table-condensed">
                        @if (RankVCdata != null)
                        {
                            <thead>
                                <tr style="white-space: nowrap;">
                                    @foreach (System.Data.DataColumn dc in RankVCdata.Columns)
                                    {
                                        <th class="th-sm">@dc.Caption</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (System.Data.DataRow dtRow in RankVCdata.Rows)
                                {
                                    <tr>
                                        @foreach (System.Data.DataColumn dc in RankVCdata.Columns)
                                        {
                                            <td>@dtRow[dc].ToString()</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                    <table id="EVBITDataTable" class="table table-hover table-sm">
                        @if (RankEBITdata != null)
                        {
                            <thead>
                                <tr style="white-space: nowrap;">
                                    @foreach (System.Data.DataColumn dc in RankEBITdata.Columns)
                                    {
                                        <th class="th-sm">@dc.Caption</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (System.Data.DataRow dtRow in RankEBITdata.Rows)
                                {
                                    <tr>
                                        @foreach (System.Data.DataColumn dc in RankEBITdata.Columns)
                                        {
                                            <td>@dtRow[dc].ToString()</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var sliderVC = document.getElementById("myRangeVC");
        var sliderEBIT = document.getElementById("myRangeEBIT");
        var outputVC = document.getElementById("ratioLabelVC");
        var outputEBIT = document.getElementById("ratioLabelEBIT");

        $(document).ready(function () {
            var table = $('#RawDataTable').DataTable({
                "ordering": true, // false to disable sorting (or any other option)
                "paging": false,
                "bInfo": true,
                "dom": '<"top"if>'
            });
            $('.dataTables_length').addClass('bs-select');

            $('#RankDataTable').DataTable({
                "ordering": true, // false to disable sorting (or any other option)
                "paging": false,
                "bInfo": true,
                "dom": '<"top"i>',
                "columns": [
                    { "title": "Bolagsnamn", "data": "Bolagsnamn" },
                    { "title": "P/E", "data": "P/E" },
                    { "title": "P/S", "data": "P/S" },
                    { "title": "P/B", "data": "P/B" },
                    { "title": "P/FCF", "data": "P/FCF" },
                    { "title": "P/EBITDA", "data": "P/EBITDA" },
                    { "title": "Momentum Rank", "data": "Momentum Rank" },
                    { "title": "VC Rank", "data": "VC Rank" },
                    { "title": "Total VC + MoM", "data": "Total VC + MoM" },
                    { "title": "VC + MoM Rank", "data": "VC + MoM Rank" },
                    {
                        "title": "Del", "data": "Delete", 'render': function (data, type, full, meta) {
                            return '<img src="/images/remove.png" height="24" width="24">';
                        }
                    }
                ],
                "order": [[9, "asc"]],
                buttons: ['copy']
            });
            $('.dataTables_length').addClass('bs-select');

            $('#EVBITDataTable').DataTable({
                "ordering": true, // false to disable sorting (or any other option)
                "paging": false,
                "bInfo": true,
                "dom": '<"top"i>',
                "columns": [
                    { "title": "Bolagsnamn", "data": "Bolagsnamn" },
                    { "title": "EV/EBIT", "data": "EV/EBIT" },
                    { "title": "Momentum", "data": "Momentum" },
                    { "title": "Rank", "data": "Rank" },
                    {
                        "title": "Ta bort?", "data": "Delete", 'render': function (data, type, full, meta) {
                            return '<img src="/images/remove.png" height="24" width="24">';
                        }
                    }
                ],
                "columnDefs": [
                    { "width": "20", "targets": "0" }
                ],
                "order": [[3, "asc"]],
                "bAutoWidth": false,
                "columnDefs": [
                    { "width": "30%", "targets": 0 },
                    { "width": "10%", "targets": 1 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 },
                    { "width": "5%", "targets": 4 }
                ]
            });
            $('.dataTables_length').addClass('bs-select');

            if (table.rows().count() > 0) {
                $('#collapseRaw').collapse('show');
            }

            var EBITtable = $('#EVBITDataTable').DataTable();
            $('#EVBITDataTable tbody').on('click', '[src*=remove]', function () {
                EBITtable.row($(this).closest('tr')).remove().draw(false);
            });

            var VCtable = $('#RankDataTable').DataTable();
            $('#RankDataTable tbody').on('click', '[src*=remove]', function () {
                VCtable.row($(this).closest('tr')).remove().draw(false);
            });

            //Display the default slider value
            sliderEBIT.value = 20;
            outputVC.innerHTML = "VC: " + sliderVC.value + "% | Momentum: " + (100 - sliderVC.value) + "%";
            outputEBIT.innerHTML = "Hämta ut topp: " + sliderEBIT.value + "% med högst EV/EBIT";
        });

        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            if (settings.sTableId == "RawDataTable") {
                var EVvalueText = document.getElementById("EV").value;
                var chkBoxMA = document.getElementById("chkboxMA");
                var chkBoxFF = document.getElementById("chkboxFF");

                if (chkBoxMA.checked) {
                    var value = data[12].toString().replace("%", "").replace(",", ".");
                    var MA = parseFloat(value);

                    if (MA < 0 | value == "") {
                        return false;
                    }
                }

                if (chkBoxFF.checked) {
                    var value = data[2].toString().replace("%", "").replace(",", ".");
                    var FF = value.toString();

                    if (FF == "Finans & Fastighet") {
                        return false;
                    }
                }

                if (EVvalueText != "") {
                    var EV = parseFloat(data[3]) || 0;
                    var EVvalue = parseFloat(EVvalueText);

                    if (EVvalue > EV) {
                        return false;
                    }
                }

                return true;
            }

            if (settings.sTableId == "RankDataTable") {
                return true;
            }
            if (settings.sTableId == "EVBITDataTable") {
                return true;
            }
        });

        $("#filterRawData").click(function () {
            var table = $('#RawDataTable').DataTable();
            table.draw();
        });

        $("#Send").click(function () {
            if ($('#RawDataTable').DataTable().rows().count() > 0) {
                var jsonObject = JSON.stringify(tableToJSON($("#RawDataTable")));
                var countVC = document.getElementById("countVC").value;
                var countEBIT = document.getElementById("countEBIT").value;

                $('#collapseRaw').collapse('toggle');

                $.ajax({
                    type: 'POST',
                    url: 'Home/PostDatatable',
                    data: { 'saniData': JSON.stringify(jsonObject), 'count': countVC, 'responsType': 0 },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        var table = $('#RankDataTable').DataTable();

                        table.clear().draw();
                        table.rows.add(response).draw();

                        $('#collapseRank').collapse('show');
                    }
                });

                $.ajax({
                    type: 'POST',
                    url: 'Home/PostDatatable',
                    data: { 'saniData': JSON.stringify(jsonObject), 'count': countEBIT, 'responsType': 1, 'EBITratio': sliderEBIT.value },
                    success: function (data) {
                        var response = jQuery.parseJSON(data);
                        var table = $('#EVBITDataTable').DataTable();

                        table.clear().draw();
                        table.rows.add(response).draw();
                    }
                });
            }
        });

        //Update the current slider value (each time you drag the slider handle)
        sliderVC.oninput = function () {
            outputVC.innerHTML = "VC: " + sliderVC.value + "% | Momentum: " + (100 - sliderVC.value) + "%";
        }

        sliderEBIT.oninput = function () {
            outputEBIT.innerHTML = "Hämta ut topp: " + sliderEBIT.value + "% med högst EV/EBIT";
        }

        function tableToJSON(tblObj) {
            var data = [];
            var $headers = $(tblObj).find("th");
            var $rows = $(tblObj).find("tbody tr").each(function (index) {
                $cells = $(this).find("td");
                data[index] = {};
                $cells.each(function (cellIndex) {
                    data[index][$($headers[cellIndex]).html()] = $(this).html();
                });
            });
            return data;
        }
    </script>
</body>
</html>